<% provide(:title, 'Home') %>
<h1>Sample App</h1>
    <p>
        This is the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application. 
    </p>

    <p> 
        Here is a dinosaur:
    </p>
    <img src="http://4.bp.blogspot.com/-9OkFNIH8NH0/UlXCRtd9hMI/AAAAAAAAK90/1M21rtH1ar4/s640/Menace+1.png" />
